@import '../../styles/common';

.delivery {
    padding: 5rem 0;
}
.delivery__title {
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.delivery__text {
    font-size: 1.4rem;
    &:not(:last-child){
        margin-bottom: 1rem;
    }
}