@import '../../styles/common';

.about {
    width: 100%;
    overflow: hidden;
}

.about__banner-img {
    max-width: 100%;
    object-fit: cover;
}

.about__number-wrap {
    padding: 1rem;
    background: $light-green;
    display: flex;
}

.about__number-title {
    font-size: 4rem;
    color: $green;
    text-align: center;
}

.about__number-descr {
    text-align: center;
    font-size: 1.6rem;
}

.about__number-top {
    padding-top: 1rem;
}

.about__number-bottom {
    padding: 1rem 0;
}

.about__values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 4rem 0;
}

.about__left {
    padding: 3rem;
}

.about__right {
    display: flex;
    align-items: center;
    padding: 3rem;
    font-size: 1.4rem;
}

.about__goal {
    font-weight: bold;
    color: $green;
    font-size: 3rem;
}

.about__list-title {
    font-size: 2rem;
    color: $green;
    margin-bottom: 1rem;
}

.about__list-item {
    &:not(:last-child) {
        margin-bottom: 0.7rem;
    }
}

.about__history {
    padding: 3rem;
    width: 70%;
    margin-bottom: 4rem;
}

.about__history-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.about__history-text {
    font-size: 1.4rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.about__link {
    color: $green;
    transition: 0.3s linear;

    &:hover {
        opacity: 0.7;
    }
}

.about__invent {
    padding: 7rem 3rem;
}
.about__collage {
    margin: 7rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25rem;
}
.about__photo-wrap {
    width: 100%;
    overflow: hidden;
}
.about__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}